:root {
    --white-color: #FFFFFF;
    --primary-color: #f44749;
    --secondary-color: #f3af24;
    --section-bg-color: #F9F9F9;
    --dark-color: #000000;
    --title-color: #565758;
    --news-title-color: #292828;
    --p-color: #717275;
    --border-color: #eaeaea;
    --border-radius-default: .25rem;

    --body-font-family: 'Montserrat', sans-serif;

    --h1-font-size: 76px;
    --h2-font-size: 56px;
    --h3-font-size: 42px;
    --h4-font-size: 28px;
    --h5-font-size: 26px;
    --h6-font-size: 22px;

    --p-font-size: 18px;
    --menu-font-size: 18px;
    --category-font-size: 14px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --div2-images-width: 22rem;
}


* {
    margin: 0%;
    padding: 0%;
    font-family: var(--body-font-family);
}

body {
    background-image: url(asserts/background.jpg);
    background-repeat: no-repeat;
}

.nav-div {
    background-color: var(--white-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-main-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo a {
    font-weight: var(--font-weight-bold);
    font-size: var(--h5-font-size);
    text-decoration: none;
    color: var(--dark-color);
}

.logo a:hover {
    color: var(--primary-color);
}

.nav-item {
    list-style: none;
}


.nav-item .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
    color: var(--p-color);
    text-decoration: none;
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
}

.nav-item .nav-link:hover {
    color: var(--primary-color);
}

.navbar-ul {
    display: flex !important;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
    gap: 10%;
}

.btn button {
    display: inline-block;
    font-weight: 400;
    border-radius: 0.25rem;
    font-size: var(--menu-font-size);
    background-color: #f44749;
    border: 1px solid #f44749;
    color: white;
    padding: 1rem 3rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.btn button:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}


/* NAV COMPLETED */

.bg-video-container {
    position: relative;
    height: 100vh;
}


.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    position: absolute;
    top: 0%;
    left: 0%;
}

.bg-video-content {
    display: flex;
    flex-wrap: wrap;

}

.bg-video-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.bg-video-inner-content {
    display: flex;
    flex-direction: column;
}

.bg-video-inner-pic img {
    height: 23rem;
    width: 100%;
    object-fit: cover;
}


.bg-video-inner-pic {
    height: 23rem;
    width: 35rem;
    border: 1px solid white;
}

.bg-video-mini-content1 {
    color: white;
    font-weight: 600;
    font-size: 5rem;
}

.bg-video-mini-content2 {
    color: white;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2rem;
}


/* SECOND PAGE */

.second-page-div {
    background-color: white;
    margin-bottom: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-page-div1 {
    color: #000000;
    padding: 5rem 0rem 3rem 0rem;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
}

/* SECIND PAGE DIV 2 */

.second-page-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 5px;
}

.second-page-div2-item-item1 {
    width: var(--div2-images-width);
}

.second-page-div2-item-item1 img {
    width: var(--div2-images-width);
    margin-bottom: 0.5rem;
}

.second-page-div2-item-item2 {
    display: flex;
    flex-wrap: wrap;
    width: var(--div2-images-width);
}

.second-page-div2-item2-content1 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-weight-semibold);
    padding: 12px 20px;
}


.second-page-div2-item2-content3 {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 0.5rem;
}

.second-page-div2-item2-content3-stars-counting {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    padding: 5px 20px;
}

del {
    padding: 1rem 3rem;
}

.review {
    font-weight: var(--font-weight-light);
    margin-left: 1rem;
    color: grey;
    font-size: 1rem;
}


.second-page-div2-item2-content2 {
    color: var(--secondary-color);
    padding: 20px 15px;
    width: 3rem;
    text-align: center;
    height: max-content;
    border-radius: 2rem;
    font-weight: var(--font-weight-semibold);
    box-shadow: 2px 2px 80px #717275;
}


.second-page-div2-item {
    width: 22rem;
    background-color: #000000;
}

/* SECOND PAGE COMPLETED */

/* THIRD PAGE START */

.third-page-div {
    width: 100%;
    height: 500px;
    background-image: url(asserts/background.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* THIRD PAGE COMPLETED */


/* FOURTH PAGE START */

.fourth-page-div {
    background-color: white;
    margin-bottom: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-page-div-heading {
    color: #000000;
    padding: 5rem 0rem 3rem 0rem;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
}

.fourth-page-div-items {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
}

.fourth-page-div-items-item1{
    position: relative;
    margin: 2em 0em 0em 2em;
    width: 33em;
    height: 22em;
    overflow: hidden;
}

.fourth-page-div-items-item1 img {
    width:100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    transition: all 0.2s ease-in;
}


.fourth-page-div-items-item1 img:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.fourth-page-div-items-item1 ul{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    width: 28em;
    left: 1.5rem;
    bottom: 5rem;
}

.fourth-page-div-items-item1 ul li{
    list-style: none;
}


.fourth-page-div-items-item1 ul li button{
    padding: 4px 12px;
    border-radius: 0.25rem;
    color: var(--white-color);
    background-color:  rgb(220, 53, 69);
    margin-bottom: 5px;
    border: none;
    font-size: 14px;
    z-index: 1;
    box-shadow: 2px 2px 10px black;
    position: absolute;
}


.fourth-page-div-items-item1 ul li p{
    font-weight: var(--font-weight-semibold);
    font-size: var(--h5-font-size);
    position: absolute;
    color: var(--white-color);
    text-shadow: 2px 2px 8px #000000;
}



/* FOURTH DIV ITEMS ITEM 1 COMPLETE */


/* FOURTH DIV ITEMS ITEM 2 START */


.fourth-page-div-items-item2{
    margin: 2em 0em 0em 2em;
    width: 33em;
    height: 22em;
    position: relative;
    overflow: hidden;
}

.fourth-page-div-items-item2 img {
    width:100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all 0.2s ease-in;
}

.fourth-page-div-items-item2 img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.fourth-page-div-items-item2 ul{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    width: 27em;
    left: 1.5rem;
    bottom: 4rem;
}

.fourth-page-div-items-item2 ul li{
    list-style: none;
}


.fourth-page-div-items-item2 ul li button{
    padding: 4px 12px;
    border-radius: 0.25rem;
    color: var(--white-color);
    background-color:  rgb(220, 53, 69);
    margin-bottom: 5px;
    border: none;
    font-size: 14px;
    z-index: 1;
    box-shadow: 2px 2px 10px black;
    position: absolute;
}


.fourth-page-div-items-item2 ul li p{
    font-weight: var(--font-weight-semibold);
    font-size: var(--h5-font-size);
    position: absolute;
    color: var(--white-color);
    text-shadow: 2px 2px 8px #000000;
}

/* FOURTH DIV ITEMS ITEM 2 COMPLETE */


/* FOURTH DIV ITEMS ITEM 3 START */

.fourth-page-div-items-item3 {
    display: flex;
    /* justify-content: space-around; */
    height: 25em;
    flex-direction: column;
}


.fourth-page-div-items-item3 .img-div{
    margin: 2em 0em 0em 2em;
    width: 21.3em;
    height: 13em;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fourth-page-div-items-item3 .img-div img {
    width:100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all 0.2s ease-in;
}

.fourth-page-div-items-item3 .img-div img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.details {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    margin: 1em 0em 0em 3rem;
}

.details div {
    padding: 1px;
}

.date {
    margin: 8px 15px;
    font-size: 20px;
    font-weight: 550;
    font-family: sans-serif;
}

.commentment {
    font-family: sans-serif;
    font-weight: 550;
    font-size: 30px;
}

.fourth-page-div-items-item3  button {
    border: none;
    background-color: #76daf8;
    margin-bottom: 0.4rem;
    color: #FFFFFF;
    padding: 4px 12px;
    border-radius: 0.25rem;
}

/* FOURTH DIV ITEMS ITEM 3 COMPLETE */


/* FOURTH DIV ITEMS ITEM 4 START */

.fourth-page-div-items-item4 {
    display: flex;
    /* justify-content: space-around; */
    height: 25em;
    flex-direction: column;
}

.fourth-page-div-items-item4 .img-div{
    margin: 2em 0em 0em 2em;
    width: 21.3em;
    height: 13em;
    position: relative;
    overflow: hidden;
}

.fourth-page-div-items-item4 .img-div img {
    width:100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all 0.2s ease-in;
}

.fourth-page-div-items-item4 .img-div img:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.fourth-page-div-items-item4  button {
    border: none;
    background-color: #171818;
    color: #FFFFFF;
    margin-bottom: 0.4rem;
    padding: 4px 12px;
    border-radius: 0.25rem;
}


/* FOURTH DIV ITEMS ITEM 4 COMPLETE */


/* FOURTH DIV ITEMS ITEM 5 START */


.fourth-page-div-items-item5 {
    display: flex;
    /* justify-content: space-evenly; */
    height: 25em;
    flex-direction: column;
}

.fourth-page-div-items-item5 .img-div{
    margin: 2em 0em 0em 2em;
    width: 21.3em;
    height: 13em;
    position: relative;
    overflow: hidden;
}

.fourth-page-div-items-item5 .img-div img {
    width:100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all 0.2s ease-in;
}

.fourth-page-div-items-item5 .img-div img:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.fourth-page-div-items-item5  button {
    border: none;
    background-color: #76daf8;
    color: #FFFFFF;
    padding: 4px 12px;
    margin-bottom: 0.4rem;
    border-radius: 0.25rem;
}


/* FOURTH DIV COMPLETE */


/* FIFTH DIV START */


.fith-page-div {
    height:39em;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.596) 100%),url(asserts/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    color: #ffffff;
}

.fith-page-div-item1 p {
    margin-left: 6%;
    font-weight: 600;
    font: 600 35px  sans-serif;
}

.fith-page-div-item2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.fith-page-div-item2-items {
    border: 1px solid black;
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.fith-page-div-item2-h1 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0px 0px 5px 0px;
}

.fith-page-div-item2-p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px 0px 5px 0px;
}